{% extends 'email/base.html' %}
{% load static %}
{% block emailheader %}
    <img class="mx-auto d-block" src="{% static 'assets/img/email/padlock.png' %}" alt="at-new-product icon">
    <h3 class="text-center">Reset Password?<br><span>Please Verify Your Identity</span></h3>
{% endblock %}
{% block emailbody %}
    <P>
        <span class="at-email-subject d-block">
            We have received the request to reset your password for {{ website.site_name }}.
        </span>
        <span class="at-email-message d-block">
            In order to protect your account security, we need to verify your identity.
            Please enter below mentioned 6 digit code into the Password reset fields.
        </span>
        <span class="at-email-em-text d-block text-center">
            Verification Code:
        </span>
        <a class="at-cta card d-table mx-auto at-sq-box">
            {{ data.code }}
        </a>
    </P>
{% endblock %}